.inputsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.multyselect {
  min-width: 160px;
}

.multyselect > div[class*="-control"] {
  border: 1px solid #515151;
  border-radius: 12px;
  background-color: #313131;
  min-height: 40px;
}

.multyselect input {
  color: #A4A4A4 !important;
  font-size: 14px;
}

.multyselect > div[class*="-menu"] {
  width: max-content;
  white-space: nowrap;
}

.multyselect span[class*="-indicatorSeparator"] {
  width: 0;
}