.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 642px;
  height: 464px;
  padding: 25px 16px 18px;
  background-color: #1a1a1a;
  border-radius: 1rem;
}

@media (max-width: 667px) {
  .tableContainer {
    width: 100%;
  }
}
